.vs
*.pdb
*.pch
*.exe
Mission015/VSproject/.vs
Mission015/VSproject/obj
Mission015/VSproject/bin/Debug/Mission015.exe.config
Mission016/VSproject/.vs
Mission016/VSproject/obj
Mission016/VSproject/bin/Debug/Mission016.exe.config
Misja011
Misja013/VSproject/.vs
Misja013/VSproject/obj
Misja013/VSproject/bin/Debug/Misja013.exe.config
